/* Small devices (landscape phones, 576px and up) */
@media (max-height: 450px) {
  :root {
    --modal-height: 30vw;
  }
}

@media (max-width: 575px) {
  :root {
    --modal-width: 70vw;
  }
  .circle {
    height: 130px;
    width: 130px;
  }
  .emoji {
    font-size: 50px;
  }
  .user-live, .computer-live {
    font-size: 1.8em;
  padding: 0;
  }
  .vs {
    font-size: 2em;
  }
  .col-btn {
    grid-template-columns: 1fr;
    grid-auto-flow: row dense;
    grid-gap: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  :root {
    --modal-width: 60vw;
  }
  .circle {
    height: 200px;
    width: 200px;
  }
  .emoji {
    font-size: 80px;
  }
  .user-live, .computer-live {
    font-size: 2em;
  }
  .vs {
    font-size: 3em;
  }
  .col-btn {
    grid-template-columns: repeat(auto-fit, minmax(3em, 200px));
    grid-auto-flow: row dense;
    grid-gap: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {
  :root {
    --modal-width: 40vw;
  }
  .circle {
    height: 250px;
    width: 250px;
  }
  .emoji {
    font-size: 100px;
  }
  .live {
    font-size: 2em;
  }
  .vs {
    font-size: 4em;
  }
  .col-btn {
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-flow: row dense;
    grid-gap: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    --modal-width: 50vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1260px) {
  :root {
    --modal-width: 25vw;
  }
}