:root {
  /* Fonts */
  --font-main: "Sriracha";
  /* SVG */
  --img-user: url(../img/user.svg);
  --img-computer: url(../img/computer.svg);
  /* Emojis */
  --emoji-count: "";
  --emoji-user: "";
  --emoji-computer: "";
  --lives-user: "💖💖💖";
  --lives-computer: "💖💖💖";
  /* Colors */
  --main-color: #FE4E00;
  --text-color: wheat;
  --btn-main-color: #8C5383;
  --btn-second-color: #4A5899;
  --disabled-main-color: #666;
  --disabled-second-color: #bfbfbf;
}

body {
  background-color: var(--main-color);
  background-image: url(../img/suntornado.svg);
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: cover;
}

.container {
  font-family: var(--font-main), cursive;
  width: 100%;
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 80%;
  display: grid;
  justify-self: center;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  padding-bottom: 2em;
}

.col-two {
  justify-content: space-between;
}

.col-three {
  justify-content: space-around;
}

.title {
  text-align: center;
  color: var(--text-color);
}

.emoji-user, .user-live {
  transform: scaleX(-1);
}

.user-live, .computer-live {
  font-size: 2.5em;
  padding: 0 1em;
}

.vs {
  font-size: 5em;
  animation: fadeIn ease 1s;
}

.vs::after {
  content: var(--emoji-count);
}

.user-live::after {
  content: var(--lives-user);
}

.computer-live::after {
  content: var(--lives-computer);
}

.emoji-user::after {
  content: var(--emoji-user);
}

.emoji-computer::after {
  content: var(--emoji-computer);
}

.btn-emoji {
  padding: 0.75em 1.75em;
  border-radius: 50px;
  font-size: 16px;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  user-select: none;
  background: linear-gradient(to right, var(--btn-main-color), var(--btn-second-color));
}

.btn-emoji:active {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.btn-emoji:disabled {
  cursor: not-allowed;
  background: linear-gradient(to right, var(--disabled-main-color), var(--disabled-second-color));
}

.emoji {
  position: absolute;
  transform-origin: center;
  font-size: 120px;
  cursor: pointer;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  cursor: pointer;
  animation: rotate 20s linear infinite;
}

.circle-user {
  background-image: var(--img-user);
}

.circle-computer {
  background-image: var(--img-computer);
}

.none {
  display: none;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  transition: transform .3s;
  background-color: rgba(0, 0, 0, .5);
}

.modal-content {
  font-family: var(--font-main), cursive;
  width: 25vw;
  height: 25vh;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--main-color);
}

.modal-show {
  transform: scale(1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}